configuration (  
        master_exec_path = "/usr/synopsys/icv/S-2021.06-SP2/bin/LINUX64_L31el/icv_manager",
        slave_exec_path = "/usr/synopsys/icv/S-2021.06-SP2/bin/LINUX64_L31el/icv_worker",
        engine_exec_path = "/usr/synopsys/icv/S-2021.06-SP2/bin/LINUX64_L31el/icv_engine",
        working_directory = "/home/KNUEEhdd1/idec/IDEC25/03-cc/customPDK32nm/synopsys_custom/inv.icv.drc",
        run_details_directory = "/home/KNUEEhdd1/idec/IDEC25/03-cc/customPDK32nm/synopsys_custom/inv.icv.drc/run_details",
        group_directory = "/home/KNUEEhdd1/idec/IDEC25/03-cc/customPDK32nm/synopsys_custom/inv.icv.drc/run_details/group"
 );

hosts ( 
      batch_system = "0", 

      machines = {  
                 { knuee-srv1, ""},
                 { knuee-srv1, ""},
                 }
);
